* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	cursor: default;
}
*::selection {
	color: #e6b319;
    /*color: #ffc107;*/
    background-color: #555;
}
*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background: #bbb;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	color: #444;
}
.send,.msg-box {
	padding: 10px;
}



/**
 * 发送
 */
.send {
	display: flex;
}
.send input,.send textarea {
	border-style: none;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 8px 16px;
	margin-left: -1px;
	outline: none;
	color: #333;
	background-color: #fff;
	transition: 0.25s ease;
	cursor: text;
}
.send input::placeholder,
.send textarea::placeholder {
    color: #b3b3b3;
}
.send input:hover,
.send textarea:hover {
	background-color: #f5f5f5;
}
.send input:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.send input:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
input#Name {
	width: 100px;
}
input#Message {
	--height: 34px;
	flex: 1;
	height: var(--height);
	min-height: var(--height);
	resize: vertical;
}


/**
 * 消息
 */
.msg-box ul {
	list-style: none;
}
.msg-box ul li {
	display: flex;
	align-items: baseline;
	margin: 10px 0;
	padding: 10px;
	letter-spacing: 0.6px;
	border: 2px solid #efefef;
	border-radius: 5px;
    word-break: break-word;
}
.msg-box span#MsgName {
	font-weight: bold;
	color: #777;
    white-space: nowrap;
}
.msg-box span#MsgName::after {
	content: " :";
}
.msg-box span#MsgContent {
	flex: 1;
	margin: 0 5px;
}
.msg-box span#SendTime {
	color: 	#e2e2e2;
    white-space: nowrap;
}


/**
 * 消息 - 内容
 */
img {
	margin: 0 4px;
}
img[data-src] {
	image-rendering: pixelated;
	margin-bottom: -2px;
}
img[class^="g"] {
	width: 20px;
	height: 20px;
	transition: 0.3s ease;
}
img[class^="g"]:hover {
	transform: scale(1.8);
}
code {
	display: inline-block;
	padding: 2px 4px;
	background: #f5f5f5;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin: 0 4px;
	color: #e04a4a;
}
i,em {
	color: #888;
}
a {
	color: #448fd4;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid #448fd4;
}
hr {
    border-style: none;
    border: 1px solid #f3f3f3;
    margin: 20px;
}


@media (max-width: 500px) {
	.msg-box span#MsgContent {
		display: block;
	}
}